<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276523974928-6mrhs6o96l07c2qvc4l3uheb84iqhprs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276523974928-6mrhs6o96l07c2qvc4l3uheb84iqhprs</string>
	<key>API_KEY</key>
	<string>AIzaSyDjCJ7BEyOgBwyBQglCu0WyN4GoBTvj8v8</string>
	<key>GCM_SENDER_ID</key>
	<string>276523974928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lama.Home</string>
	<key>PROJECT_ID</key>
	<string>darakson-aa1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>darakson-aa1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276523974928:ios:c57390f3fb8219a423e595</string>
	<key>DATABASE_URL</key>
	<string>https://darakson-aa1d7.firebaseio.com</string>
</dict>
</plist>